.header {
      &__hero {
            @include displayFlexColumn;
            justify-content: flex-start;
            gap: 3rem;
            background: linear-gradient(to bottom, rgba($dark, .7) 3%, transparent 10%),
                        linear-gradient(to top, rgba($dark, .7) 3%, transparent 10%),
                        linear-gradient(to right, rgba($dark, 1), transparent 40%),
                        linear-gradient(to left, rgba($dark, 1), transparent 40%), 
                        url('/img/WebsiteImages/Balance4YouDarkWoodHeroBackGroundPatternLandscape.webp');
            background-size: 150%;
            background-position: top;
            height: max-content;
            padding: 10rem 2rem 12rem;
            position: relative;
            @include respond(tab-land) {
                  @include displayFlexRow;
                  align-items: flex-end;
                  gap: 5rem;
                  background-size: 75%;
                  padding: 5rem 2rem 7rem;
            }
            @include respond(desk) {
                  gap: 10rem;
            }
      }
      &__heroOther {
            height: auto;
            padding: 5rem 2rem 5rem;
      }
}
.hero {
      &__heroHeading {
            @include displayFlexColumn;
            gap: .5rem;
      }
      &__headingH2 {
            margin-top: 5rem;
      }
      &__logoImg {
            display: block;
            width: 25rem;
            height: auto;
            margin: 0 auto;
      }
      &__cta {
            @include displayFlexColumn;
            gap: 1.75rem;
            width: 26rem;
      }
      &__ctaBtn {
            @include displayFlexRow;
            gap: .5rem;
      }
      @include respond(tab-port) {
            &__logoImg {
                  width: 26rem;
            }
      }
      @include respond(tab-land) {
            &__logoImg {
                  width: 24rem;
            }
            &__cta {
                  justify-content: space-between;
                  align-items: flex-start;
                  padding-bottom: .5rem;
            }
      }
}

.primaryHeading {
      margin-top: 0rem;
      &__hr {
            background: linear-gradient(to right, rgba($dark, .35), rgba($goldenrod-yellow, 1) 20%, rgba($goldenrod-yellow, 1) 80%, rgba($dark, .35));
            background-color: transparent;
            height: 2px;
            border: none;
            margin: .75rem 0 .25rem;
      }
      &__byline {
            @include displayFlexRow;
            gap: .5rem;
      }
      &__spacer {
            display: inline-block;
            background-color: $goldenrod-yellow;
            border-radius: 50%;
            height: 5px;
            width: 5px;
      }
}