.header {
      &__hero {
            @include displayFlexColumn;
            justify-content: flex-start;
            gap: 3rem;
            background: linear-gradient(to bottom, rgba($dark, 1) 3%, transparent 30%),
                        linear-gradient(to top, rgba($dark, 1) 3%, transparent 30%),
                        linear-gradient(to right, rgba($dark, 1) 3%, transparent 50%),
                        linear-gradient(to left, rgba($dark, 1) 3%, transparent 50%), url('/img/WebsiteImages/Balance4YouDarkWoodHeroBackGroundPatternLandscape.webp');
            background-size: 150%;
            background-position: top;
            height: max-content;
            padding: 5rem 2rem;
            position: relative;
      }
      &__heroOther {
            height: auto;
            padding: 5rem 2rem 5rem;
      }
}
.hero {
      &__heroHeading {
            @include displayFlexColumn;
            gap: .5rem;
      }
      &__headingH2 {
            margin-top: 5rem;
      }
      &__logoImg {
            display: block;
            width: 23rem;
            height: auto;
            margin: 0 auto;
      }
      &__cta {
            @include displayFlexColumn;
            gap: 1.5rem;
            width: 26rem;
      }
      &__ctaBtn {
            @include displayFlexRow;
            gap: .5rem;
      }
}

.primaryHeading {
      margin-top: -11rem;
      &__hr {
            // background: linear-gradient(to right, rgba($dark, .35), rgba($goldenrod-yellow, 1) 20%, rgba($goldenrod-yellow, 1) 80%, rgba($dark, .35));
            background-color: transparent;
            height: 2px;
            border: none;
            margin: .75rem 0 .25rem;
      }
      &__byline {
            @include displayFlexRow;
            gap: .5rem;
      }
      &__spacer {
            display: inline-block;
            background-color: transparent;
            border-radius: 50%;
            height: 5px;
            width: 5px;
      }
}