.main {
      @include displayFlexColumn;
      gap: 12rem;
      padding: 0 2rem;
}
.about, .products {
      @include displayFlexColumn;
      gap: 4rem;
      width: min(100%, 55rem);
      @include respond(tab-land) {
            width: min(100%, 85rem);
      }
}
.about {
      &__article, &__figure, &__cta {
            @include displayFlexColumn;
            gap: 2rem;
      }
      &__article {
            padding: 0 0rem;
            @include respond(tab-land) {
                  padding: 0 5rem;
            }
      }
      &__grid-container {
            margin: 1rem 0 .75rem;
      }
      &__ctaBtn {
            @include displayFlexRow;
            gap: .5rem;
      }
      @include respond(tab-land) {
            &__article {
                  @include displayFlexRow;
                  align-items: flex-start;
                  gap: 5rem;
            }
            &__figure, &__cta {
                  flex: 1 0 45%;
            }
      }
}
.products {
      &__productsContentWrapper {
            @include displayFlexColumn;
            gap: 3rem;
            padding: 0 0rem;
            @include respond(tab-land) {
                  padding: 0 5rem;
            }
      }
      &__intro, &__bestsellers {
            @include displayFlexColumn;
            align-items: center;
            gap: 2rem;
            width: 100%;
      }
      &__moreInfoBtn, &__shopOnlineBtn {
            @include displayFlexRow;
            gap: .5rem;
      }
      @include respond(tab-land) {
            &__productsContentWrapper {
                  @include displayFlexRow;
                  align-items: flex-start;
                  gap: 5rem;
            }
            &__intro {
                  @include displayFlexColumn;
                  align-items: center;
                  gap: 1rem;
                  flex: 0 0 38%;
            }
            &__bestsellers {
                  @include displayFlexColumn;
                  align-items: center;
                  gap: 1rem;
                  flex: 0 0 55%;
            }
      }
}