<footer class="footer">
      <div class="footer__websiteLinksContainer">
            <figure class="footer__figure">
                  <img class="footer__logoImg" src="/img/Logo/Balance4YouTransparentLogo1080By1080.webp" alt="Logo of Balance 4 You, a boutique health shop in Vaalwater">
            </figure>
            <nav class="footer__nav">
                  <ul class="footer__navList">
                        <li class="footer__navItem">
                              <a href="#homeLink" class="footer__navLink navLink navLink--footer">Home &rarr;</a>
                        </li>
                        <li class="footer__navItem">
                              <a href="#aboutLink" class="footer__navLink navLink navLink--footer">About Us &rarr;</a>
                        </li>
                        <li class="footer__navItem">
                              <a href="#productsLink" class="footer__navLink navLink navLink--footer">Our Products &rarr;</a>
                        </li>
                        <li class="footer__navItem">
                              <a href="#onlineshopLink" class="footer__navLink navLink navLink--footer">Shop Online &rarr;</a>
                        </li>
                        <li class="footer__navItem">
                              <a href="#contactLink" class="footer__navLink navLink navLink--footer">Contact &rarr;</a>
                        </li>
                  </ul>
            </nav>
      </div>
      <div class="footer__copyAndDev">
            <p class="footer__copy paragraph paragraph--copy">Copyright &copy; 2024 Balance 4 You</p>
            <p class="footer__dev paragraph paragraph--dev">
                  designed and developed by: 
                  <br class="footer__breakLineDev">
                  <a href="https://schalkvandyk.com" target="_blank">
                        <span class="paragraph paragraph--devName">Schalk van Dyk &rarr;</span>
                  </a>
            </p>
      </div>
</footer>