<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balance4You | Under Construction</title>
  <style>
    body {
      color: rgba(200, 200, 200, .9);
      font-family: Arial, sans-serif;
      font-weight: 700;
      text-align: center;
      background-color: #000000;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    .logo {
      max-width: 25%;
      margin: 20px auto;
    }
    .address {
      margin-top: 30px;
    }
    @media (max-width: 600px) {
      .container {
        padding: 10px;
      }
      .logo {
        max-width: 50%;
        margin: 20px auto;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Welcome to Our Website</h1>
    <p>This page is currently under construction. We apologize for any inconvenience caused.</p>
    <img src="/img/Logo/Balance4YouLogo1200X1200.png" alt="Company Logo" class="logo">
    <p>We are working hard to bring you a fantastic experience. Please check back later!</p>
    <address class="address">
      <p>For inquiries, please contact us at:</p>
      <p>Telephone: 076 481 0034</p>
      <p>Email: info@balance4you.co.za</p>
    </address>
  </div>
</body>
</html>