.headingH2Container {
      @include displayFlexColumn;
      gap: 0rem;
      border-style: solid;
      border-width: 5px;
      border-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, purple, violet) 1;
      box-shadow: 0 0 25px 10px rgba($dark, .1);
      //////////////////////////////////////////////////////////////////////
      // background: url("/img/WebsiteImages/Balance4YouDarkWoodHeroBackGroundPatternLandscape.webp");
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: 45rem;
      // clip-path: polygon(0% 2%, 100% 2%, 100% 24%, 92% 24%, 92% 49%, 97% 49%, 97% 70%, 93% 70%, 93% 93%, 4% 93%, 4% 70%, 8% 70%, 8% 49%, 4% 49%, 4% 24%, 0% 24%, 0% 2%);
      // clip-path: polygon(0% 0%, 15% 0%, 15% 15%, 0% 15%);
      padding: 2rem 0rem;
      margin-bottom: 3rem;
      width: 100%;
      // height: 19rem;
      position: relative;
      &__img {
            display: block;
            width: 14rem;
            height: auto;
      }
      &__imgHrDivider {
            display: block;
            width: 100%;
            height: auto;
      }
      // &__imgCurlyCorner {
      //       display: block;
      //       width: 20rem;
      //       height: auto;
      //       position: absolute;
      // }
      // &__imgCurlyCornerTopLeft {
      //       top: 0px;
      //       left: 0;
      //       transform: rotate(180deg);
      // }
      // &__imgCurlyCornerBottomRight {
      //       bottom: 0px;
      //       right: 0;
      //       transform: rotate(0deg);
      // }
      &__headingH2 {
            margin-bottom: .25rem;
      }
      &__paragraph {
            border-top: solid 1px $licorice-black;
            padding-top: .5rem;
            width: min(80%, 28rem);
      }
      @media (min-width: 500px) {
            background-size: 55rem;
            // clip-path: polygon(0% 2%, 100% 2%, 100% 18%, 92% 18%, 92% 49%, 97% 49%, 97% 75%, 93% 75%, 93% 93%, 4% 93%, 4% 75%, 8% 75%, 8% 48%, 4% 48%, 4% 18%, 0% 18%, 0% 2%);
      }
      @include respond(tab-land) {
            background-size: 80rem;
            // clip-path: polygon(0 0, 100% 0, 100% 19%, 92% 19%, 92% 49%, 96% 49%, 96% 75%, 89% 75%, 89% 97%, 7% 97%, 7% 75%, 13% 75%, 13% 48%, 9% 48%, 9% 19%, 0% 19%, 0% 0%);
            height: 28rem;
            &__img {
                  width: 25rem;
            }
      };
}
.headingH2ContainerWrapper {
      filter: drop-shadow(2px 3px 2px rgba($dark, 0.55));
      width: 100%;
}