.headingH2Container {
      @include displayFlexColumn;
      gap: .25rem;
      background: url("/img/WebsiteImages/Balance4YouDarkWoodHeroBackGroundPatternLandscape.webp");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      clip-path: polygon(0 0, 94% 0, 94% 26%, 90% 26%, 90% 50%, 97% 50%, 97% 75%, 93% 75%, 93% 100%, 4% 100%, 4% 75%, 8% 75%, 8% 50%, 0% 50%, 0% 25%, 3% 25%, 3% 0%);
      padding: 2rem 2rem;
      width: 100%;
      height: 14rem;
      &__img {
            display: block;
            width: 15rem;
            height: auto;
      }
}
.headingH2ContainerWrapper {
      filter: drop-shadow(3px 10px 6px rgba($dark, 0.75));
      width: 100%;
}