.whatsappComponent {
      @include displayFlexColumn;
      gap: 3rem;
      box-shadow: 0 0 12px 3px rgba($dark, .45);
      background-color: $yale-blue;
      background: linear-gradient(to bottom, rgba($dark, .45) 20%, transparent), url("/img/WebsiteImages/Balance4YouContactUs.webp");
      background-position: bottom;
      background-size: cover;
      border-radius: $br-sm;
      padding: 2rem;
      &__introContainer {
            @include displayFlexColumn;
            gap: 2rem;
      }
      &__whatsappLink {
            @include displayFlexColumn;
            gap: 0.5rem;
            filter: drop-shadow(0 0 3px rgba($dark, .5));
            margin: 0 0 2rem 5rem;
      }
      &__whatsappLinkContent {
            position: relative;
      }
      &__icon {
            display: block;
            filter: drop-shadow(0 0 7px rgba($dark, .65));
            width: 11rem;
            height: auto;
            position: absolute;
            top: -2.25rem;
            left: -6rem;
      }
      &__text {
            background-color: #00D95F;
            border: 5px solid $white;
            border-radius: 100px;
            padding: 1rem 3rem 1rem 5.5rem;
      }
      &__paragraph {
            filter: drop-shadow(0 0 3px rgba($dark, .5));
      }
      @include respond(tab-port) {
            background-position: top;
            background-size: 100%;
            min-height: 45rem;
            &__navList {
                  @include displayFlexRow;
                  justify-content: space-evenly;
                  gap: 5rem;
            }
            &__whatsappLink {
                  margin: 0 0 0 5rem;
            }
      }
      @include respond(tab-land) {
            // background: linear-gradient(to right, rgba($yale-blue, .95) 10%, transparent, rgba($yale-blue, .95) 90%), url("/img/WebsiteImages/Balance4YouSocialMedia.webp");
            background-position: center;
            background-size: 110%;
            background-repeat: no-repeat;
            min-height: 38rem;
            padding: 2rem 10rem;
            &__icon {
                  width: 12rem;
                  top: -2.75rem;
                  left: -6.25rem;
            }
      }
}