// base
// basic reset
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
	/* 	10px / 16px *100 = 62.50% */
	font-size: 62.5%; // 1rem = 10px
	@include respond(tab-port) {
	/*   	tap-port 600px --> 900px */
	/* 	12px / 16px *100 = 75.00% */
		font-size: 68%; // 1rem = 12px
	}
	@include respond(tab-land) {
	/*   	tap-land 900px --> 1200px */
	/* 	13px / 16px *100 = 81.25% */
		font-size: 70%; // 1rem = 13px 
	}
	@include respond(desk) {
	/*   	desk 1200px --> 1800px */
	/* 	16px / 16px *100 = 100.00% */
		// font-size: 100%; // 1rem = 16px 
		font-size: 76%; // 1rem = 16px 
	}
	@include respond(big-desk) {
	/*   	big-desk 1800px + */
	/* 	18px / 16px *100 = 112.50% */
		font-size: 85%; // 1rem = 18px
	}
}

body {
	@include displayFlexColumn;
	align-items: stretch;
	gap: 12rem;
	background-color: $white;
	/* This makes dealing with the sizes of elements much easier, 
		and generally eliminates a number of pitfalls you can stumble on
		 while laying out your content. */
	/* The width and height properties include the content, padding, and border, 
		but do not include the margin.  Note that padding and border will be inside 
		of the box. */
	box-sizing: border-box;
	// for position absolute iro popup component
	position: relative;
	@media (min-width: 2000px) {
		margin: 0 auto;
		max-width: 2000px;
	}
}
ol, ul{
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
