// Primary-Heading --> H1
// Gagalin is a bold, playful, and somewhat quirky typeface with a retro-futuristic vibe. When choosing fallback fonts, it's important to select options that are widely available and have a similar bold and rounded appearance. Here are a couple of suggestions:
// Impact: Availability: Pre-installed on most Windows and macOS systems. Similarity: Impact is a bold, condensed typeface with a strong presence, which makes it a suitable fallback for Gagalin. While it lacks the playful quirks of Gagalin, its bold and heavy nature provides a similar impact.
// Arial Black: Availability: Also widely available on most Windows and macOS systems. Similarity: Arial Black is a heavy, sans-serif font that can serve as a decent fallback for Gagalin due to its bold weight and straightforward design. Although it's more conventional than Gagalin, its thickness and readability are comparable.
// When specifying fallback fonts in CSS, your font stack might look like this:
// font-family: 'Gagalin', Impact, 'Arial Black', sans-serif;

// Sub-Headings --> h2, h3, h4 & h5
// Antonio (Sub-headings) is a geometric sans-serif font. Suitable fallback options should maintain its clean, modern look.
// Fallback Fonts:
// Oswald: A narrow sans-serif font available through Google Fonts, resembling Antonio's structure.
// Verdana: A widely available sans-serif font with a clean and straightforward appearance.
// font-family: "Antonio", sans-serif; font-weight: <weight>: Use a value from 100 to 700
// font-family: 'Antonio', Oswald, Verdana, sans-serif;

// Body Text --> paragraphs
// Lato (Body Text)
// Lato is a humanist sans-serif typeface known for its readability and friendly appearance. Fallback options should be widely available and offer good readability.
// Fallback Fonts:
// Helvetica: A widely used sans-serif typeface known for its readability.
// Arial: Another widely available sans-serif font, often used as a fallback for many typefaces.
// Segoe UI: A sans-serif font commonly used in Windows interfaces, providing good readability and a modern look.
// font-family: 'Lato', sans-serif; font-weight: 400, 500, 700, 900;   
// font-family: 'Lato', Helvetica, Arial, 'Segoe UI', sans-serif;

@font-face {
	font-family: 'Gagalin';
	src: 
		local('Gagalin'),
		url('../fonts/Gagalin.ttf') format('truetype'),
		url('../fonts/Gagalin.otf') format('opentype'),
	     	url('../fonts/Gagalin.woff') format('woff'),
	     	url('../fonts/Gagalin.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
	color: $licorice-black;
	font-family: 'Lato', Helvetica, Arial, 'Segoe UI', sans-serif;
	font-size: clamp(1.4rem, 4.6vw, 1.6rem);
	font-weight: 400;
	text-align: center;
	line-height: 1.6;
	@include respond(tab-land) {
		text-align: left;
	}
}
.logo {
	&__title, &__subtitle {
		display: block;
		color: $sunset-cream;
		font-family: 'Gagalin', Impact, 'Arial Black', sans-serif;
		font-weight: 400;
		line-height: 1;
	}
	&__title {
		font-size: clamp(1.4rem, 5vw, 1.6rem);
		letter-spacing: 1px;
	}
	&__subtitle {
		font-size: clamp(.2rem, 3.2vw, 1rem);
		letter-spacing: 1px;
	}
	&__byline {
		display: block;
		color: $goldenrod-yellow;
		font-family: 'Antonio', Oswald, Verdana, sans-serif;
		font-size: clamp(.1rem, 2.4vw, .7rem);
		font-weight: 700;
		letter-spacing: 1px;
	}
}
.primaryHeading {
	&__title, &__subtitle {
		display: block;
		color: $sunset-cream;
		font-family: 'Gagalin', Impact, 'Arial Black', sans-serif;
		font-weight: 400;
		line-height: 1;
	}
	&__title {
		font-size: clamp(2.9rem, 6vw, 3.1rem);
		letter-spacing: 4px;
	}
	&__subtitle {
		font-size: clamp(2rem, 6vw, 2.2rem);
		letter-spacing: 2px;
	}
	&__byline {
		display: block;
		color: $goldenrod-yellow;
		font-family: 'Antonio', Oswald, Verdana, sans-serif;
		font-size: clamp(1.4rem, 4.6vw, 1.6rem);
		font-weight: 400;
	}
}
.headingH2 {
	color: $yale-blue;
	font-family: 'Gagalin', Impact, 'Arial Black', sans-serif;
	font-size: clamp(3.4rem, 8vw, 3.6rem);
	font-weight: 400;
	// text-shadow: 1px 1px $dark;
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 2px;
	// text-decoration: underline solid 2px;
	// text-underline-offset: 3px;
	&--subpage {
		color: $goldenrod-yellow;
		font-size: clamp(2.4rem, 7vw, 2.6rem);
		text-transform: none;
		text-decoration: none;
	}
	&--pageName {
		color: $sunset-cream;
		font-size: clamp(2.8rem, 7.5vw, 3rem);
		text-decoration: none;
	}
	@include respond(tab-land) {
		font-size: clamp(2.8rem, 7vw, 3rem);
	}
}
.headingH3 {
	color: $yale-blue;
	font-family: 'Antonio', Oswald, Verdana, sans-serif;
	font-size: clamp(1.8rem, 5.5vw, 2rem);
	font-weight: 900;
	text-transform: normal;
	line-height: 1.2;
	letter-spacing: 1px;
}
.headingH4 {
	font-family: 'Lato', Helvetica, Arial, 'Segoe UI', sans-serif;
	font-size: clamp(1.4rem, 5vw, 1.6rem);
	&--productBrandAndName {
		color: $white;
		font-family: 'Lato', Helvetica, Arial, 'Segoe UI', sans-serif;
		font-size: clamp(1rem, 5vw, 1.4rem);
		font-weight: 700;
		text-transform: capitalize;
		text-shadow: 1px 1px $dark;
		line-height: 1.2;
		letter-spacing: 0px;
	}
	&--productName {
		color: $white;
		font-family: 'Lato', Helvetica, Arial, 'Segoe UI', sans-serif;
		font-size: clamp(1.2rem, 5vw, 1.8rem);
		font-weight: 900;
		text-transform: uppercase;
		text-shadow: 1px 1px $dark;
		line-height: 1.2;
		letter-spacing: 0px;
	}
	&--figureShopImg, &--googleMapsContainer {
		color: $licorice-black;
		font-family: 'Lato', Helvetica, Arial, 'Segoe UI', sans-serif;
		font-size: clamp(1.6rem, 6vw, 1.8rem);
		font-weight: 900;
		text-align: left;
		text-transform: uppercase;
		text-shadow: 1px 1px $white;
		line-height: 1;
		letter-spacing: 3px;
	} 
	&--contactSections, &--addressComponent, &--googleMapsComponent {
		color: $white;
		font-size: clamp(1.6rem, 5.5vw, 1.8rem);
		font-style: normal;
		font-weight: 700;
		letter-spacing: 2px;
		text-decoration: underline 2px solid $white;
		text-underline-offset: 4px;
		text-shadow: 2px 2px 2px rgba($dark, 1);
		text-transform: uppercase;
		filter: drop-shadow(0 0 2px rgba($dark, .75));

	}
}
.headingH5 {
	font-family: 'Lato', Helvetica, Arial, 'Segoe UI', sans-serif;
	font-size: clamp(1.4rem, 5.5vw, 1.6rem);
	font-weight: 700;
	line-height: 1;
	letter-spacing: 1px;
	&--productCategoryHeading {
		color: $white;
		font-size: clamp(1.8rem, 6vw, 2rem);
		font-weight: 900;
		text-shadow: 1px 1px $dark;
	}
	&--productCategoryName {
		color: $yale-blue;
		font-style: italic;
		font-weight: 700;
		text-shadow: 1px 1px $white;
	}
	// &--productPropertiesHeading, &--productApplicationsHeading {
	// 	color: $yale-blue;
	// 	font-family: 'Lato', Helvetica, Arial, 'Segoe UI', sans-serif;
	// 	font-style: italic;
	// 	font-size: clamp(1.6rem, 5.5vw, 1.8rem);
	// 	font-weight: 700;
	// 	text-shadow: 1px 1px $white;
	// 	line-height: 1;
	// 	letter-spacing: 3px;
	// }
}
.paragraph {
	&--headingH2Container {
		color: $liver-brown;
		font-size: clamp(1.1rem, 3.5vw, 1.3rem);
		font-weight: 700;
		// text-shadow: 1px 1px $dark;
		line-height: 1.1;
		@include respond(tab-land) {
			font-size: clamp(1.3rem, 3.5vw, 1.5rem);
			text-align: center;
		}
	}
	&--cta {
		display: block;
		color: $sunset-cream;
		font-weight: 700;
		text-shadow: 1px 1px $dark;
	}
	&--productPrice {
		color: $white;
		font-family: 'Lato', Helvetica, Arial, 'Segoe UI', sans-serif;
		font-size: clamp(1.2rem, 4.5vw, 1.4rem);
		font-weight: 700;
		text-transform: uppercase;
		text-shadow: 1px 1px $dark;
		line-height: 1;
		letter-spacing: 1px;
	}
	&--productQualities {
		color: rgba($white, .95);
		font-family: 'Lato', Helvetica, Arial, 'Segoe UI', sans-serif;
		font-size: clamp(.8rem, 3.8vw, 1.4rem);
		font-weight: 700;
		text-shadow: 1px 1px $dark;
		text-transform: capitalize;
		line-height: 1.6;
		letter-spacing: 0px;
	}
	&--figureShopImg, &--googleMapsContainer {
		color: $licorice-black;
		font-family: 'Lato', Helvetica, Arial, 'Segoe UI', sans-serif;
		font-size: clamp(1.2rem, 4.5vw, 1.4rem);
		font-weight: 700;
		text-align: left;
		text-transform: capitalize;
		text-shadow: 1px 1px $white;
		line-height: 1.2;
		letter-spacing: 1px;
	}
	&--contactDetailContact {
		line-height: 1.2;
		@include respond(tab-land) {
			text-align: center;
		}
	}
	&--contactDetailFooter, &--copy, &--dev {
		color: $sunset-cream;
		line-height: 1.2;
	}
	&--contactDetailFooterAddress {
		text-align: justify;
	}
	&--devName {
		color: $forest-green;
		text-decoration: solid underline 1px;
		text-underline-offset: 3px;
	}
	&--socialMediaComponent, &--whatsappComponent, &--addressComponent {
		color: $white;
		font-weight: 400;
		text-align: center;
		text-shadow: 2px 2px 2px rgba($dark, 1);
		letter-spacing: 1px;

	}
	&--paragraphWhatsappTextContent {
		color: white;
		font-size: 1.6rem;
		font-weight: 700;
		text-align: center;
		line-height: 1.1;

	}
	&--paragraphWhatsappTextContentChat {
		color: white;
		font-size: 1.2rem;
		font-weight: 700;
		text-align: center;
		line-height: 1.1;

	}
	&--addressComponent {
		font-style: normal;
	}
	&--addressLink {
		text-decoration: underline solid 1px;
		text-underline-offset: 3px;
	}
}
.btn {
	font-size: clamp(1.6rem, 6vw, 1.8rem);
	font-weight: 700;
	&--secondary {
		font-size: clamp(1.4rem, 5vw, 1.6rem);
	}
}
.contact {
	&__address {
		font-style: normal;
	}
}
.footer {
	&__address {
		font-style: normal;
	}
	&__navLink {
		color: $sunset-cream;
		font-size: clamp(1.6rem, 6vw, 1.8rem);
		font-weight: 700;
	}
}